<div class="container">
    <form [formGroup]="registrationForm" (submit)="register()" class="form">
      <mat-card class="card">
        <mat-card-header class="card-header">
          <mat-card-title class="card-title">
            <div mat-card-avatar><fa-icon class="card-title-icon" [icon]="userIcon"></fa-icon></div>
            <span>Регистрация</span>
          </mat-card-title>
        </mat-card-header>
    
        <mat-card-content>
          <div class="alert-msg" [hidden]="!registrationError">
            {{ 'REGISTRATION.' + registrationErrorMessage}}
          </div>
          <div class="alert-msg" [hidden]="!internalServerError">
            Internal server error. Please try again later.
          </div>
          <div class="alert-succes" *ngIf="isSuccesfull">

          </div>
          <mat-form-field class="item">
            <input matInput formControlName="email" placeholder="Email">
            <mat-error class="error" *ngIf="registrationForm.controls.email.hasError('required')">
              Введите email
            </mat-error>
            <mat-error *ngIf="registrationForm.controls.email.hasError('invalidEmailAddress')">
              Неверный email адресс
            </mat-error>
          </mat-form-field>
          <mat-form-field class="item" hintLabel="Min 4 characters">
            <input matInput #input minlength="4" formControlName="username" placeholder="Username">
            <mat-error *ngIf="registrationForm.controls.username.hasError('required')">
              Введите свой логин
            </mat-error>
            <mat-error *ngIf="registrationForm.controls.username.hasError('minlength')">
              Логин должен быть не менее 4-х символов
            </mat-error>
          </mat-form-field>
    
            <mat-form-field class="item">
              <input type="password" matInput placeholder="Password"  formControlName="password">
              <mat-error *ngIf="registrationForm.controls.password.hasError('required')">
                Введите пароль
              </mat-error>
              <mat-error *ngIf="registrationForm.controls.password.hasError('invalidPassword')">
                Пароль должен быть не менее 6 символов и содержать минимум одну цифру
              </mat-error>
            </mat-form-field>
            <mat-form-field class="item">
              <input type="password" matInput formControlName="confirmPassword" placeholder="Confirm password">
              <mat-error *ngIf="registrationForm.controls.confirmPassword.hasError('required')">
                Введите пароль снова
              </mat-error>
              <mat-error *ngIf="registrationForm.controls.confirmPassword.hasError('passwordMismatch')">
                Пароли не совпадают
              </mat-error>
            </mat-form-field>
    
          <div class="submit-button">
            <button type="submit" mat-raised-button *ngIf="!isSuccesfull" color="primary" [disabled]="!registrationForm.valid">Create</button>
          </div>
          <div class="login-button">
            <button routerLink="/login" mat-raised-button color="accent" *ngIf="isSuccesfull" [disabled]="!registrationForm.valid">Login</button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
    </div>