<div class="header" fxFlex fxLayout>
    <mat-toolbar>
      <!-- Logo & navigation -->
      <div fxFlex fxLayout>
        <ul fxLayout class="navigation-items" fxHide.lt-md>
          <li>
            <a *ngIf="!currentUser" routerLink="api/main" routerLinkActive="active-link">На главную</a>
          </li>
        </ul>
      </div>

      <!-- User menu -->
      <div fxFlex fxLayout fxLayoutAlign="end">
        <ul fxLayout class="navigation-items" fxHide.lt-md>
          <li>
            <a *ngIf="!currentUser" routerLink="api/login" routerLinkActive="active-link">Авторизация</a>
          </li>
          <li>
            <a *ngIf="!currentUser" routerLink="api/register" routerLinkActive="active-link">Регистрация</a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
  </div>
  